{% extends "base.html" %}

{% block content %}
<h1>Edit Post:</h1>
<hr>
<br>
<form action="/posts/{{ post.id }}/edit" method="POST">
    <label for="title">Title:</label>
    <br>
    <input type="text" id="title" name="title" value="{{ post.title }}">
    <br>
    <br>
    <label for="content">Content:</label>
    <br>
    <input type="text" id="content" name="content" value="{{post.content}}">
    <!-- ... other post input fields ... -->
    <br>
    <br>
    <label>Tags:</label>
    <br>
    {% for tag in tags %}
    <input type="checkbox" name="tags" value="{{ tag.id }}" {% if tag in post.tags %} checked {% endif %}>
    <label for="tags">{{ tag.name }}</label>
    <br>
    {% endfor %}
    <br>
    <a href="/users/{{ user.id }}">
        << Back</a>
            <br>
            <br>
            <button type="submit">Submit Changes</button>
</form>
<br>
<form action="/posts/{{ post.id }}/delete" method="POST">
    <button type="submit" class="bg-danger">Delete Post</button>
</form>
{% endblock %}