{% extends "base.html" %}

{% block content %}
<h1>{{ user.get_full_name() }}</h1>
<p>First Name: {{ user.first_name }}</p>
<p>Last Name: {{ user.last_name }}</p>
<img src="{{ user.image_url }}" alt="Default Image"><br><br>
<a href="/users/{{ user.id }}/edit">Edit Profile</a><br>
<a href="/users/{{ user.id }}/posts/new">Create Post</a><br><br>
<form method="post" action="/users/{{ user.id }}/delete">
    <button type="submit">Delete User</button>
</form>
<hr>
<div>
    <h1>All Posts:</h1><br>
</div>
{% for post in posts %}
<ul>
    <li>
        <h5>{{ post.title }}</h5>
        <p>{{ post.content }}</p>
    </li>
    {% for tag in post.tags %}
    <ul>
        <i>
            <li>#{{ tag.name }}</li>
        </i>
    </ul>
    {% endfor %}
    <br>
    <label for="author">By: {{ user.first_name }}</label>
    <br>
</ul>
<a href="/posts/{{ post.id }}/edit">Edit >></a>
<br><br>
<hr>
{% endfor %}
{% endblock %}